#background {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15vw;
    border: 1px solid #d3d3d3;
    width: 70vw;
    height: 49vw;
    background: url("../../hw02/png/background.jpg") no-repeat;
    background-size: 70vw;
}

#ball {
    position: absolute;
    left: 60vw;
    top: 10vh;
    height: 4vw;
    width: 4vw;
    background: url("../../hw02/png/ball.png") no-repeat;
    background-size: 4vw;
}
