body
{
    background-color: gainsboro;
    font-family: Arial, serif;
}

label{
    display: inline-block;
    width: 40%;
    text-align: right;
    font-size: 1.3vmin;
}

h3
{
    text-align:center;

    font-size: 2.5vmin;
}
h6
{
    margin: 0.1vmin 1vmin 0.1vmin 1vmin;
    text-align: right;
    font-size: 1.2vmin;
}

p, #login, #load_file, #load_file2, table
{
    margin: 1vmin 1vmin 1vmin 1vmin;
    font-size: 1.2vmin;
}

fieldset
{
    margin: 1vmin 1vmin 1vmin 1vmin;
    font-size: 1vmin;
}

footer
{
    border-top: 1px solid  #555555;
    clear:both;
    text-align:center;
    padding:1vmin;
}


table {
    border-collapse: collapse;
    width: 98%;
    font-size: 1.3vmin;
}
th
{
    text-align: center;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;

}
td {
    text-align: left;
    border-bottom: 1px solid #555555;
    font-size: 1.3vmin;
}

tr:hover {background-color: #aaaaaa
}

#email:invalid , #password:invalid {
    border: 1px dashed firebrick;
}

#email:valid , #password:valid {
    border: 1px solid green;
}

#up_block
{
    width: 100%;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    float: right;
    text-align: right;
}



#center
{
    background-color: #bbbbbb;
    display: inline-block;
    float: left;
    width: 58%;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    height: 80vh;
}
#right_block{
    float: left;
    height: 80vh;
    width: 20%;

}

#left_block{
    margin: 1vmin 1vmin 1vmin 1vmin;
    width: 20%;
    height: 80vh;
    float: left;
}
